<div style="color:white; text-align: center; font-size: x-large;">Battlestar Galactica: Online<span style="float:right;color:white; text-align: center; font-size: small">Version 0.1</span></div>
<div class="gameboard">
  <mat-drawer-container class="drawer-container">
    <mat-drawer #handDrawer class="drawer" position="start" mode="over" opened="false" disableClose="true">
      <button mat-icon-button class="drawer-close-button" color="primary" (click)="handDrawer.toggle()" aria-label="My Hand Drawer Close Button">
        <span class="material-icons">close</span>
      </button>
    </mat-drawer>
    <mat-drawer #playersDrawer class="drawer" position="end" mode="over" opened="false" disableClose="true">
      <button mat-icon-button class="drawer-close-button" color="primary" (click)="playersDrawer.toggle()" aria-label="Players Drawer Close Button">
        <span class="material-icons">close</span>
      </button>
    </mat-drawer>
    <mat-drawer-content class="gameboard-background">
      <button mat-mini-fab class="hand-drawer-open-button" color="primary" (click)="handDrawer.toggle()" matTooltip="My Hand" aria-label="My Hand Drawer Open Button">
        <span class="material-icons">double_arrow</span>
      </button>
      <button mat-mini-fab class="player-drawer-open-button" color="primary" (click)="playersDrawer.toggle()" matTooltip="All Players" aria-label="Players Drawer Open Button">
        <span class="material-icons">contacts</span>
      </button>
      <button id="crisisCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 05.20%; top: 88.54%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Crisis Card" aria-label="Crisis Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="superCrisisCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 17.52%; top: 88.54%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Super Crisis Card" aria-label="Super Crisis Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="loyaltyCardDistributeButton" mat-mini-fab class="gameboard-button" style="left: 30.54%; top: 88.54%; transform: translate(-20px,-20px)" color="primary" matTooltip="Distribute Loyalty Cards" aria-label="Loyalty Card Distribute Button">
        <span class="material-icons">record_voice_over</span>
      </button>
      <button id="politicsSkillCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 36.97%; top: 90.10%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Politics Card" aria-label="Politics Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="leadershipSkillCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 46.61%; top: 90.10%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Leadership Card" aria-label="Leadership Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="tacticsSkillCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 56.25%; top: 90.10%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Tactics Card" aria-label="Tactics Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="pilotingSkillCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 65.88%; top: 90.10%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Piloting Card" aria-label="Piloting Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="engineeringSkillCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 75.52%; top: 90.10%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Engineering Card" aria-label="Engineering Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="quorumCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 27.70%; top: 21.56%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Quorum Card" aria-label="Quorum Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="destinationCardDrawButton" mat-mini-fab class="gameboard-button" style="left: 40.83%; top: 12.70%; transform: translate(-20px,-20px)" color="primary" matTooltip="Draw Destination Card" aria-label="Destination Card Draw Button">
        <span class="material-icons">open_in_browser</span>
      </button>
      <button id="cylonShipLaunchButton" mat-mini-fab class="gameboard-button" style="left: 06.25%; top: 10.93%; transform: translate(-20px,-20px)" color="primary" matTooltip="Launch a Cylon Ship" aria-label="Cylon Ship Launch Button">
        <span class="material-icons">flight_takeoff</span>
      </button>
      <button id="humanShipLaunchButton" mat-mini-fab class="gameboard-button" style="left: 67.36%; top: 09.06%; transform: translate(-20px,-20px)" color="primary" matTooltip="Launch a Viper or Raptor" aria-label="Human Ship Launch Button">
        <span class="material-icons">flight_takeoff</span>
      </button>
      <button id="civilianShipLaunchButton" mat-mini-fab class="gameboard-button" style="left: 72.08%; top: 24.89%; transform: translate(-20px,-20px)" color="primary" matTooltip="Launch a Civilian Ship" aria-label="Civilian Ship Launch Button">
        <span class="material-icons">flight_takeoff</span>
      </button>
      <button id="viperRepairButton" mat-mini-fab class="gameboard-button" style="left: 34.34%; top: 09.06%; transform: translate(-20px,-20px)" color="primary" matTooltip="Repair a Damaged Viper" aria-label="Viper Repair Button">
        <span class="material-icons">build</span>
      </button>
      <button id="damageGalacticaButton" mat-mini-fab class="gameboard-button" style="background: transparent; border-color: transparent; left: 59.22%; top: 64.06%; transform: translate(-20px,-20px)" color="primary" matTooltip="Inflict Damage to Galactica" aria-label="Damage Galactica Button">
      </button>
      <button id="rollDieButton" mat-icon-button class="gameboard-iconbutton" style="left: 65.78%; top: 19.96%; transform: translate(-20px,-20px)" matTooltip="Roll Die" aria-label="Die Roll Button">
        <span class="material-icons">rotate_right</span>
      </button>
      <button id="fuelDecreaseButton" mat-icon-button class="gameboard-iconbutton" style="left: 75.10%; top: 05.20%; transform: translate(-20px,-20px)" matTooltip="Decrease Fuel" aria-label="Fuel Decrease Button">
        <span class="material-icons">remove_circle_outline</span>
      </button>
      <button id="foodDecreaseButton" mat-icon-button class="gameboard-iconbutton" style="left: 75.10%; top: 09.18%; transform: translate(-20px,-20px)" matTooltip="Decrease Food" aria-label="Food Decrease Button">
        <span class="material-icons">remove_circle_outline</span>
      </button>
      <button id="moraleDecreaseButton" mat-icon-button class="gameboard-iconbutton" style="left: 75.10%; top: 13.38%; transform: translate(-20px,-20px)" matTooltip="Decrease Morale" aria-label="Morale Decrease Button">
        <span class="material-icons">remove_circle_outline</span>
      </button>
      <button id="populationDecreaseButton" mat-icon-button class="gameboard-iconbutton" style="left: 75.10%; top: 17.29%; transform: translate(-20px,-20px)" matTooltip="Decrease Population" aria-label="Population Decrease Button">
        <span class="material-icons">remove_circle_outline</span>
      </button>
      <button id="fuelIncreaseButton" mat-icon-button class="gameboard-iconbutton" style="left: 98.22%; top: 05.20%; transform: translate(-20px,-20px)" matTooltip="Increase Fuel" aria-label="Fuel Increase Button">
        <span class="material-icons">add_circle_outline</span>
      </button>
      <button id="foodIncreaseButton" mat-icon-button class="gameboard-iconbutton" style="left: 98.22%; top: 09.18%; transform: translate(-20px,-20px)" matTooltip="Increase Food" aria-label="Food Increase Button">
        <span class="material-icons">add_circle_outline</span>
      </button>
      <button id="moraleIncreaseButton" mat-icon-button class="gameboard-iconbutton" style="left: 98.22%; top: 13.38%; transform: translate(-20px,-20px)" matTooltip="Increase Morale" aria-label="Morale Increase Button">
        <span class="material-icons">add_circle_outline</span>
      </button>
      <button id="populationIncreaseButton" mat-icon-button class="gameboard-iconbutton" style="left: 98.22%; top: 17.29%; transform: translate(-20px,-20px)" matTooltip="Increase Population" aria-label="Population Increase Button">
        <span class="material-icons">add_circle_outline</span>
      </button>
      <button id="jumpTrackDecreaseButton" mat-icon-button class="gameboard-iconbutton" style="background-color: rgba(0, 0, 0, 0.5) ;left: 47.50%; top: 05.20%; transform: translate(-20px,-20px)" matTooltip="Increase Jump Track" aria-label="Jump Track Decrease Button">
        <span class="material-icons">remove_circle_outline</span>
      </button>
      <button id="jumpTrackIncreaseButton" mat-icon-button class="gameboard-iconbutton" style="background-color: rgba(0, 0, 0, 0.5) ;left: 54.26%; top: 05.20%; transform: translate(-20px,-20px)" matTooltip="Decrease Jump Track" aria-label="Jump Track Increase Button">
        <span class="material-icons">add_circle_outline</span>
      </button>
      <button id="centurionAddButton" mat-icon-button class="gameboard-iconbutton" style="background-color: rgba(0, 0, 0, 0.5) ;left: 35.46%; top: 23.96%; transform: translate(-20px,-20px)" matTooltip="Add Centurion" aria-label="Centurion Add Button">
        <span class="material-icons">add_circle_outline</span>
      </button>
      <button id="centurionAdvanceButton" mat-icon-button class="gameboard-iconbutton" style="background-color: rgba(0, 0, 0, 0.5) ;left: 39.29%; top: 23.96%; transform: translate(-20px,-20px)" matTooltip="Advance Centurion(s)" aria-label="Centurion Advance Button">
        <span class="material-icons">skip_next</span>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
